watch_file .tool-versions

# must be exported before groovy plugin loads
export ASDF_GROOVY_DISABLE_JAVA_HOME_EXPORT=true

use asdf
asdf_has golang || asdf plugin-add golang
asdf_has awscli || asdf plugin-add awscli
asdf install

layout go